body {
  font: 13px/18px Arimo, 'Open Sans',"Lucida Grande","Lucida Sans Unicode",Tahoma, Arial,Helvetica,Verdana,sans-serif;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.page-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 30%;
}

.chart-wrap {
  width: 350px;
  font-size: 16px;
  padding: 1.5em;
}

h2 {
  font-size: 1.5rem;
  color: #242f3e;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 0px) and (max-width: 600px) {
  .chart-wrap {
    width: 100%;
    padding: 0;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 5vw;
    text-align: center;
  }
}

.theme-dark {
  background: #242f3e;
}

.theme-dark h2 {
  color: #fff;
}

.theme-dark .theme-switch {
  background: #242f3e;
}

.theme-switch {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #fff;
  height: 3rem;
  line-height: 3rem;
  z-index: 100;
}

.theme-switch i {
  font-style: normal;
}

.theme-switch .night {
  display: none;
}

.theme-switch .day {
  display: inline;
}

.theme-dark .theme-switch .night {
  display: inline;
}

.theme-dark .theme-switch .day {
  display: none;
}

.theme-switch button {
  color: #36a8f1;
  font-size: 1.2rem;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
}
