body {
  font: 13px/18px Arimo, 'Open Sans',"Lucida Grande","Lucida Sans Unicode",Tahoma, Arial,Helvetica,Verdana,sans-serif;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

html {
  
}

* { 
   -webkit-backface-visibility:  hidden;
     -webkit-tap-highlight-color:  transparent;
}

.page-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.chart-wrap {
  width: 350px;
  font-size: 16px;
  padding: 1.5em;
}

h2 {
  font-size: 1.4rem;
  color: #444;
  text-align: center;
}

svg path {
  transition: opacity 0.3s;
}

.square {
  position: relative;
  width: 100%;
  }

  .square:after {
  content: "";
  display: block;
  padding-bottom: 80%;
  }

  .content {
  position: absolute;
  width: 100%;
  height: 100%;
  }

  .content svg {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .preview svg {
    width: 100%;
    height: 100%;
  }

.controls {
  height: 3em;
  position: relative;
  margin-bottom: 0.75em;
}

.area-left {
  left: 0;
  width: 45%;
}

.area-cover {
  z-index: 3;
  background-color: rgba(220, 239, 255, 0.65);
  position: absolute;
  height: 100%;
}

.area-focused {
  position: absolute;
  height: 100%;
  z-index: 0;
  left: 45%;
  width: 25%;
  box-sizing: border-box;
  padding: 0.1em 0.3em;
  background: #c1d9ea;
}

.area-focused div {
  width: 100%;
  height: 100%;
  background: #fff;
}

.area-focused-drag {
  position: absolute;
  height: 100%;
  z-index: 2;
  left: 45%;
  width: 25%;
  box-sizing: border-box;
}

.area-right {
  left: 70%;
  width: 30%;
}

.drag-point {
  box-sizing: border-box;
  /*border:2px solid orange;*/
  width: 2.5em;
  position: absolute;
  height: 100%;
  cursor: pointer;
  z-index: 3;
}

.area-right .drag-point {
  left: -0.5em;
  right: auto;
}

.area-left .drag-point {
  left: auto;
  right: -0.5em;
}


.preview {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;    
}

@keyframes gridfadeoutup {
  0%  {
    opacity: 1;
    height: 100%;
    top: 0%;
  }
  100% {
    opacity: 0;
    height: 200%;
    top: -100%;
  }
}



@keyframes gridfadeoutdown {
  0%  {
    opacity: 1;
    height: 100%;
    top: 0%;
    
  }
  100% {
    opacity: 0;
    height: 40%;
    top: 70%;
  }
}

@keyframes gridfadeinup {
  0%  {
    opacity: 0;
    height: 10%;
    top: 90%;
  }
  100% {
    opacity: 1;
    height: 100%;
    top: 0%;
  }
}

@keyframes gridfadeindown {
  0% {
    opacity: 0;
    height: 150%;
    top: -50%;
  }

  100%  {
    opacity: 1;
    height: 100%;
    top: 0%;
  }
}


.grid {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.grid.fadein-up {
  animation-name: gridfadeinup;
}

.grid.fadeout-up {
  animation-name: gridfadeoutup;
}

.grid.fadein-down {
  animation-name: gridfadeindown;
}

.grid.fadeout-down {
  animation-name: gridfadeoutdown;
}

.grid {
  z-index: 0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.grid--line {
  z-index: 2;
  width: 100%;
  position: absolute;
  border-bottom: 0.1em solid #f2f4f5;
  height: 2em;
}
.grid--value {
  color: #9b9fa0;
  font-size: 1em;
  line-height: 2em;
}


.datasets {
  padding-bottom: 1em;
  overflow: hidden;
}

label.check {
  border: 0.1em solid #e6ecf1;
    height: 2.4em;
    border-radius: 1.2em;
    box-sizing: content-box;
    padding-left: 2.4em;
    display: block;
    float: left;
    margin-right: 1em;
    position: relative;
    padding-right: 0.75em;
    line-height: 2.4em;
    color: #494949;
    cursor: pointer;
}

.check__input {
  position: absolute;
  width: 0;
  height: 0;
  border: none;
  opacity: 0;
  top: 0;
  left: 0;
}

.check__box {
  position: absolute;
  width: 1.6em;
  height: 1.6em;
  border-radius: 1em;
  top: 0.4em;
  left: 0.4em;
  background-image: none;
}

.check__box::after {
  content: '';
  position: absolute;
  background: #fff;
  height: 1.6em;
  width: 1.6em;
  top: 0;
  left: 0;
  border-radius: 2em;
  transition: top 0.1s, left 0.1s, width 0.1s, height 0.1s;
  border-style: solid;
  border-width: 0.2rem;
  border-color: inherit;
  box-sizing: border-box;
}

.check__input:checked + .check__box {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' %3E%3Ccircle cx='12' cy='12' r='12' fill='none'/%3E%3Cpolyline points='6,13 10,17 18,9' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E");
}

.check__input:checked + .check__box::after {
  height: 0;
  width: 0;
  top: 0.8em;
  left: 0.8em;
  border-width: 0;
}

.bubble {
  opacity: 0;
  position: absolute;
  top: -1.5em;
  transition: left 0.1s, opacity 0.1s;
  padding: 0.4em 1em;
  box-shadow: 1px 1px 3px 0px #999;
  border-radius: 0.3rem;
  background: #fff;
  box-sizing: border-box;
  z-index: 5;
}

.bubble--date {
  font-size: 1em;
  white-space: nowrap;
  padding-bottom: 0.3em;
  color: #222;
}

.bubble--content {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.bubble--content .bubble--dataset:last-child {
  padding-right: 0;
}

.bubble--dataset {
  padding-right: 1.5em;
}

.bubble--dataset span {
  font-size: 1em;
}

.bubble--dataset strong {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}


.xAxis {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 2.5em;
  margin-bottom: 0.75em;
}


@keyframes timehideleft {
  0% {
    opacity: 1;
    left: 0;
  }

  100%  {
    opacity: 0;
    left: -10vw;
  }
}
@keyframes timehideright {
  0% {
    opacity: 1;
    left: 0;
  }

  100%  {
    opacity: 0;
    left: 15vw;
  }
}


@keyframes timeshowleft {
  0%  {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes timeshowright {
  0%  {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



.timepoints {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  position: absolute;
}


.timepoints.right:not(.hidden) div {
  animation-name: timeshowright; 
}

.timepoints.left:not(.hidden) div {
  animation-name: timeshowleft; 
}

.timepoints.hidden.right div {
  animation-name: timehideright; 
}

.timepoints.hidden.left div {
  animation-name: timehideleft; 
}


.timepoints div:first-child,
.timepoints div:last-child {
  animation-name: none !important; 
}

.timepoints.hidden div:first-child,
.timepoints.hidden div:last-child {
  opacity: 0;
}

.timepoints div {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  overflow: hidden;
  width: 4.5em;
  box-sizing: border-box;
  text-align: center;
  color: #9b9fa0;
  font-size: 1em;
  line-height: 2.5em;
  white-space: nowrap;
  position: relative;
}

/* Dark Theme  */
.theme-dark {
  background: #242f3e;
}

.theme-dark h2 {
  color: #fff;
}

.theme-dark .grid--line {
  border-color: #293544
}

.theme-dark .grid--value,
.timepoints div {
  color: #546778;  
}

.theme-dark .content svg line {
  stroke: #546778;
}

.theme-dark .content svg circle {
  fill: #242f3e;
}

.theme-dark .bubble {
  background: #253241;
  box-shadow: 0px 0 3px 1px #202a37;
}

.theme-dark .bubble--date {
  color: #fff;
}

.theme-dark label.check {
  border-color: #344658;
  color: #fff;
}

.theme-dark .check__box::after {
  background: #242f3e;
}

.theme-dark .area-focused {
  background: #40566b;
}

.theme-dark .area-focused > div {
  background: #242f3e;
}

.theme-dark .area-cover {
  background: rgba(31, 36, 42, 0.6)
}

/* Page */
.theme-switch {
  text-align: center;
  margin-top: 5rem;
  cursor: pointer;
}

.theme-switch i {
  font-style: normal;
}

.theme-switch .night {
  display: none;
}

.theme-switch .day {
  display: inline;
}

.theme-dark .theme-switch .night {
  display: inline;
}

.theme-dark .theme-switch .day {
  display: none;
}

.theme-switch button {
  color: #36a8f1;
  font-size: 1.2rem;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
}
