
.tgchart svg path {
  transition: opacity 0.3s;
}

.tgchart  {
  background: #fff;
  font: 13px/18px Arimo, 'Open Sans',"Lucida Grande","Lucida Sans Unicode",Tahoma, Arial,Helvetica,Verdana,sans-serif;
}

.tgchart * {
  -webkit-tap-highlight-color:  transparent;
}

.tgchart__view-container {
  position: relative;
  width: 100%;
  }

.tgchart__view-container:after {
  content: "";
  display: block;
  padding-bottom: 80%;
}

.tgchart__view {
  position: absolute;
  width: 100%;
  height: 100%;
}

.tgchart__view > svg {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.tgchart__preview {
  height: 3em;
  position: relative;
  margin-bottom: 0.75em;
  overflow: hidden;
}

.tgchart__preview > svg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;    
}

.tgchart__area-cover {
  z-index: 3;
  background-color: rgba(233, 245, 255, 0.5);
  position: absolute;
  height: 100%;
}

.tgchart__area-focused {
  position: absolute;
  height: 100%;
  z-index: 0;
  left: 45%;
  width: 25%;
  box-sizing: border-box;
  padding: 0.1em 0.3em;
  background: #c1d9ea;
}

.tgchart__area-focused div {
  width: 100%;
  height: 100%;
  background: #fff;
}

.tgchart__area-focused-drag {
  position: absolute;
  height: 100%;
  z-index: 2;
  left: 45%;
  width: 25%;
  box-sizing: border-box;
}

.tgchart__drag-point {
  box-sizing: border-box;
  /*border:2px solid orange;*/
  width: 2.5em;
  position: absolute;
  height: 100%;
  cursor: pointer;
  z-index: 3;
}

.tgchart__area-left {
  left: 0;
  width: 45%;
}

.tgchart__area-right {
  left: 70%;
  width: 30%;
}

.tgchart__area-right .tgchart__drag-point {
  left: -0.5em;
  right: auto;
}

.tgchart__area-left .tgchart__drag-point {
  left: auto;
  right: -0.5em;
}


@keyframes gridfadeoutup {
  0%  {
    opacity: 1;
    height: 100%;
    top: 0%;
  }
  100% {
    opacity: 0;
    height: 200%;
    top: -100%;
  }
}



@keyframes gridfadeoutdown {
  0%  {
    opacity: 1;
    height: 100%;
    top: 0%;
    
  }
  100% {
    opacity: 0;
    height: 40%;
    top: 70%;
  }
}

@keyframes gridfadeinup {
  0%  {
    opacity: 0;
    height: 10%;
    top: 90%;
  }
  100% {
    opacity: 1;
    height: 100%;
    top: 0%;
  }
}

@keyframes gridfadeindown {
  0% {
    opacity: 0;
    height: 150%;
    top: -50%;
  }

  100%  {
    opacity: 1;
    height: 100%;
    top: 0%;
  }
}


.tgchart__grid {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  z-index: 0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.tgchart__grid--fadein-up {
  animation-name: gridfadeinup;
}

.tgchart__grid--fadeout-up {
  animation-name: gridfadeoutup;
}

.tgchart__grid--fadein-down {
  animation-name: gridfadeindown;
}

.tgchart__grid--fadeout-down {
  animation-name: gridfadeoutdown;
}

.tgchart__grid-line {
  z-index: 2;
  width: 100%;
  position: absolute;
  border-bottom: 0.1em solid #f2f4f5;
  height: 2em;
}
.tgchart__grid-value {
  color: #9b9fa0;
  font-size: 1em;
  line-height: 2em;
}


.tgchart__datasets {
  padding-bottom: 1em;
  overflow: hidden;
}

.tgc-checkbox {
  border: 0.1em solid #e6ecf1;
    height: 2.4em;
    border-radius: 1.2em;
    box-sizing: content-box;
    padding-left: 2.4em;
    display: block;
    float: left;
    margin-right: 1em;
    position: relative;
    padding-right: 0.75em;
    line-height: 2.4em;
    color: #494949;
    cursor: pointer;
}

.tgc-checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  border: none;
  opacity: 0;
  top: 0;
  left: 0;
}

.tgc-checkbox__button {
  position: absolute;
  width: 1.6em;
  height: 1.6em;
  border-radius: 1em;
  top: 0.4em;
  left: 0.4em;
  background-image: none;
}

.tgc-checkbox__button::after {
  content: '';
  position: absolute;
  background: #fff;
  height: 1.6em;
  width: 1.6em;
  top: 0;
  left: 0;
  border-radius: 2em;
  transition: top 0.1s, left 0.1s, width 0.1s, height 0.1s;
  border-style: solid;
  border-width: 0.2rem;
  border-color: inherit;
  box-sizing: border-box;
}

.tgc-checkbox__input:checked + .tgc-checkbox__button {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' %3E%3Ccircle cx='12' cy='12' r='12' fill='none'/%3E%3Cpolyline points='6,13 10,17 18,9' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E");
}

.tgc-checkbox__input:checked + .tgc-checkbox__button::after {
  height: 0;
  width: 0;
  top: 0.8em;
  left: 0.8em;
  border-width: 0;
}

.bubble {
  opacity: 0;
  position: absolute;
  top: -1.5em;
  transition: left 0.1s, opacity 0.1s;
  padding: 0.4em 1em;
  box-shadow: 1px 1px 3px 0px #999;
  border-radius: 0.3rem;
  background: #fff;
  box-sizing: border-box;
  z-index: 5;
  line-height: 1.1;
}

.bubble--date {
  font-size: 1em;
  white-space: nowrap;
  padding-bottom: 0.3em;
  color: #222;
}

.bubble--content {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.bubble--content .bubble--dataset:last-child {
  padding-right: 0;
}

.bubble--dataset {
  padding-right: 1.5em;
}

.bubble--dataset span {
  font-size: 1em;
}

.bubble--dataset strong {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}


.tgchart_x-axis {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 2.5em;
  margin-bottom: 0.75em;
}


@keyframes timehideleft {
  0%   { left: 0; }
  100% { left: -2.5em; }
}

@keyframes timehideright {
  0%   { left: 0; }
  100% { left: 3em; }
}

@keyframes showelement {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

@keyframes hideelement {
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}

.tgchart__x-points {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  position: absolute;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: showelement; 
}

.tgchart__x-points > div {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  overflow: hidden;
  width: 4.5em;
  box-sizing: border-box;
  text-align: center;
  color: #9b9fa0;
  font-size: 1em;
  line-height: 2.5em;
  white-space: nowrap;
  position: relative;
  opacity: 1;
}

.tgchart__x-points--hidden {
  animation-name: hideelement; 
}

.tgchart__x-points > div:first-child,
.tgchart__x-points > div:last-child {
  animation-name: none !important; 
}

.tgchart__x-points--hidden div:first-child,
.tgchart__x-points--hidden div:last-child {
  display: none;
}

.tgchart__x-points--anim-right div {
  animation-name: timehideright; 
}

.tgchart__x-points--anim-left div {
  animation-name: timehideleft; 
}


/* Dark Theme  */

.theme-dark .tgchart {
  background: #242f3e;
}

.theme-dark .tgchart__grid-line {
  border-color: #293544
}

.theme-dark .tgchart__grid-value,
.theme-dark .tgchart__x-points > div {
  color: #546778;  
}

.theme-dark .tgchart__view svg line {
  stroke: #546778;
}

.theme-dark .tgchart__view svg circle {
  fill: #242f3e;
}

.theme-dark .bubble {
  background: #253241;
  box-shadow: 0px 0 3px 1px #202a37;
}

.theme-dark .bubble--date {
  color: #fff;
}

.theme-dark .tgc-checkbox {
  border-color: #344658;
  color: #fff;
}

.theme-dark .tgc-checkbox__button::after {
  background: #242f3e;
}

.theme-dark .tgchart__area-focused {
  background: #40566b;
}

.theme-dark .tgchart__area-focused > div {
  background: #242f3e;
}

.theme-dark .tgchart__area-cover {
  background: rgba(31, 36, 42, 0.6)
}
